{{- $about       := .Site.Params.about }}
<section class="section is-medium section-light-nd" id="about">
      <div class="container">
        <div class="has-text-centered">
          <h2 class="title is-2">Kto za tym stoi!</h2>
          <div class="divider is-centered"></div>
        </div>
    <div class="content-wrapper">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-two-fifths">
            <figure class="image is-256x256">
              <img class="is-rounded" src="http://static-files.hqr.sh/gc.jpg" alt="Description">
            </figure>
          </div>
          <div class="column is-three-fifths"> 
          <h3 class="title is-3">
              Hej! Jestem Grzesiek ‘Hankier’ Ćwikliński. ‘96.</h3>
          <div class="about-items">
              <div class="about-item"><i class="fa fa-graduation-cap"></i> Skończyłem Informatykę na <a class="link--external"  href="https://pwr.edu.pl/">Politechnice Wrocławskiej</a>.<sup class="superscript"><a href="#sup-about">1</a></sup></div>
              <div class="about-item"><i class="fa fa-code"></i> W branży IT zaczynałem jako stażysta DevOps na pierwszym roku studiów.</div>
              <div class="about-item"><i class="fa fa-briefcase"></i> W 4 lata doszedłem do Product Ownera w międzynarodowej korporacji <a class="link--external"  href="https://en.wikipedia.org/wiki/Nokia">Nokia</a>.<sup class="superscript"><a href="#sup-about">2</a></sup></div>
              <div class="about-item"><i class="fa fa-building-columns"></i> Wykładałem na Politechnice Wrocławskiej kurs o wytwarzaniu oprogramowania.<sup class="superscript"><a href="#sup-about">3</a></sup></div>
              <div class="about-item"><i class="fa fa-mask"></i> Uwielbiam uniwersum Marvela.</div>
              <div class="about-item"><i class="fa fa-house-signal"></i> Interesuję się szerokopojętą automatyzacją i IoT.</div>
              <div class="about-item"><i class="fa-brands fa-discord"></i> Tworzę boty na Discorda.<sup class="superscript"><a href="#sup-about">4</a></sup></div>
              <div class="about-item"><i class="fa fa-folder-open"></i> Zaczynam przygodę jako przedsiębiorca.</div>
              <div class="about-item"><i class="fa-solid fa-chart-line"></i> Działam na rynku kryptowalut oraz NFT.</div>
              <div class="about-item"><i class="fa-solid fa-dog"></i> Jestem właścicielem owczarka australijskiego (<a class="link--external"  href="https://instagram.com/jager.the.aussie/">Instagram jager.the.aussie</a>).</div>
              <div class="about-item"><i class="fa fa-microphone-lines"></i> Współtworzę podcast <a class="link--external"  href="https://link.chtbl.com/NFTFire">Firestarters</a>.</div>
              <div>
          </div>
        </div>
      </div>
    </div>
  <div class="container" id="sup-about">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <div class="divider"></div>
        <div class="about-item-sup">1. Wydział Podstawowych Problemów Techniki. <a class="link--external"  href="https://wppt.pwr.edu.pl/fcp/HGBUKOQtTKlQhbx08SlkFVxhQAykrCDILDWdbXxMbFmFBWxslAxt1FSVcVnRKCkI8VQIDJCUODBYAKg8TXAMIOAZK/44/public/studenci/plany-programy/2015/ps_i_1st.pdf">Plan Studiów.</a></div>
        <div class="about-item-sup">2. Tworzyłem zespół rozwijający oprogramowanie i zarządzający infrstrukturą.</div>
        <div class="about-item-sup">3. Kurs nazywał się Praktyczne Aspekty Wytwarzania Oprogramowania. Omawiał tematy DevOps.<a class="link--external"  href="https://weka.pwr.edu.pl/fcp/BGBUKOQtTKlQhbx08SlkTUANQX2o8DAoHNiwFE1xVT29PFRYqCl5tDXdAGHpEQVgQaxMDOCAEDgMdLA5fRE0cLA9EHzY/37/public/aktualnosci/ogloszenia/etew16011_20z.pdf"> Plan Przedmiotu.</a></div>
        <div class="about-item-sup">4. Discord to aplikacja do komunikacji tekstowej i głosowej. <a class="link--external"  href="https://discord.com/">Oficjalna Strona Discord</a>.</div>
      </div>
      </div>
    </div>
</section>
