<section class="section is-medium" id="pricing">
      <div class="container">
        <div class="has-text-centered">
          <h2 class="title is-2">Twoje zdrowie jest dla nas ważne!</h2>
          <h3 class="subtitle is-5">Nasz newsletter został zaprojektowany tak, aby można go było czytać jak książkę, i jest dostępny w trzech różnych opcjach subskrypcj.</h3>
          <div class="divider is-centered"></div>
        </div>
    <div class="content-wrapper">
        <div class="pricing-table">
          <div class="pricing-plan is-normal">
            <div class="plan-header">Okres testowy</div>
            <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">PLN</span>29</span>/miesiąc <br />(Płatność na 3 miesiące)</div>
            <div class="plan-items">
              <div class="plan-item">-</div>
              <div class="plan-item">-</div>
              <div class="plan-item">-</div>
              <div class="plan-item">-</div>
              <div class="plan-item">-</div>
              <div class="plan-item">-</div>
            </div>
            <div class="plan-footer">
                <a href='#signin'><button class="button is-fullwidth"><b>Wybieram!</b></button> </a>
            </div>
          </div>

          <div class="pricing-plan is-year">
            <div class="plan-header">Wersja Rok</div>
            <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">PLN</span>19</span>/miesiąc<br /> (Płatność na 12 miesięcy)</div>
            <div class="plan-items">
              <div class="plan-item">24 maile pełne treści</div>
              <div class="plan-item">12 maili z linkami <br />do zakupu sprawdzonych produktów</div>
              <div class="plan-item">dostęp do poprzednich maili</div>
              <div class="plan-item">w przyszłości dostęp do społeczności</div>
              <div class="plan-item">-</div>
              <div class="plan-item">-</div>
            </div>
            <div class="plan-footer">
                <a href='#signin'><button class="button is-fullwidth"><b>Wybieram!</b></button> </a>
            </div>
          </div>

          <div class="pricing-plan is-active is-popular">
            <div class="plan-header">Wersja Lifetime</div>
            <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">PLN</span>999</span>/dożywotnio<br />(Jedna płatność)</div>
            <div class="plan-items">
              <div class="plan-item">24 maile pełne treści</div>
              <div class="plan-item">12 maili z linkami <br />do zakupu sprawdzonych produktów</div>
              <div class="plan-item">dostęp do poprzednich maili</div>
              <div class="plan-item">w przyszłości dostęp do społeczności</div>
              <div class="plan-item">Jedna płatność na całe życie<sup class="superscript"><a href="#sup">1</a></sup></div>
              <div class="plan-item">Coś extra w przyszłości</div>
            </div>
            <div class="plan-footer">
                <a href='#signin'><button class="button is-fullwidth"><b>Wybieram!</b></button> </a>
            </div>
          </div>
        </div>
        </div>
    </div>


  <div class="container" id="sup">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <div class="divider"></div>
        <p>1. Dożywotnio - tak długo jak zdrowyhack.pl będzie działało.</p>
        </div>
      </div>
    </div>
  </div>
</section>
