{{- $section1 := .Site.Params.section1 }}
<section class="section is-medium section-light-nd" id="features">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">Dlaczego DevsFeed?<h2>
      <h3 class="subtitle is-5 is-muted"></h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns">

        <div class="column is-one-quarter">
          <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-title">
                <h4>GWARANCJA<br />ZWROTU PIENIĘDZY<h4>
            </div>
            <div class="card-icon">
                <img src="{{ printf "/images/illustrations/icons/money.svg"  | relURL }}">
            </div>
            <div class="card-text">
                <p>Masz 14 dni od dnia zakupu na rezygnację z subskrypcji bez podawania przyczyny.</p>
            </div>
          </div>
        </div>

        <div class="column is-one-quarter">
          <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-title">
                <h4>GWARANCJA<br />STAŁEJ CENY<h4>
            </div>
            <div class="card-icon">
                <img src="{{ printf "/images/illustrations/icons/price.svg"  | relURL }}">
            </div>
            <div class="card-text">
                <p>Opłacasz taką samą kwotą, co przy dołączeniu, przez cały czas.</p>
            </div>
          </div>
        </div>

        <div class="column is-one-quarter">
          <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-title">
                <h4>GWARANCJA<br />SATYSFAKCJI<h4>
            </div>
            <div class="card-icon">
                <img src="{{ printf "/images/illustrations/icons/smile.svg"  | relURL }}">
            </div>
            <div class="card-text">
                <p>Treść jest pisana tak, aby sprawiała Ci przyjemność, a nauka była łatwa i prosta.</p>
            </div>
          </div>
        </div>

        <div class="column is-one-quarter">
          <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-title">
                <h4>GWARANCJA<br />PROFESJONALIZMU<h4>
            </div>
            <div class="card-icon">
                <img src="{{ printf "/images/illustrations/icons/profes.svg" | relURL }}">
            </div>
            <div class="card-text">
                <p>Materiały weselekcjonowane przez doświadczonego inżyniera IT.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
