{{- $text       := .Site.Params.text }}
<section class="section is-medium section-light-nd">
      <div class="container">
        <div class="has-text-centered">
          <h2 class="title is-2">Co jest takiego wspaniałego w Zdrowyhack?</h2>
          <div class="divider is-centered"></div>
        </div>
    <div class="content-wrapper">
      <div class="container has-text-centered">
          <div class="subtitle is-4">
              Bardzo dużo. Mamy pasję, ciekawość i chęć rozwoju, którą chcemy się z Tobą podzielić. Jesteśmy po to, aby pomóc Ci osiągnąć Twoje cele. Kiedy zapiszesz się na nasz newsletter, dostaniesz fakty o tym, jak to zrobić - i wiele innych fajnych rzeczy też.  Podajemy na tacy najnowsze badania i wskazówki dotyczące zdrowia i stylu życia. Powiemy Ci, dlaczego zdrowe życie jest ważne, jak może pomóc Ci osiągnąć Twoje cele i jakie narzędzia są tam, aby pomóc Ci po drodze.
          </div>
          <h3 class="subtitle action-call">
              Chcemy dzielić z Tobą podróż - i dlatego jesteśmy tak podekscytowani!</h3>
        </div>
      </div>
    </div>
</section>
